.adJobWrapper {
    margin: 10px;
}

.adJob {
    display: flex;
    align-items: center;

}

.adJob img {
    padding: 0 10px;
}

.adJobDesc {
    display: flex;
    vertical-align: middle;
    flex-direction: column;
    justify-content: flex-start;
}

.adJobDesc span {
    padding: 5px 0;
    display: flex;
    justify-content: flex-start;
}