*{
  margin: 0;
  padding: 0;
}

body {
    background-color: #F5F5F5;
    color: white; 
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .App {
    width: 20%;
    background-color: white;
    color: #477DBD;
    padding: 10px;
  }
  
  .logo {
    width: 100px;
  }


  /* .logoName {
    display: flex;
    align-items: center;
    text-transform: uppercase;
  } */
/*   
  .imgLogo {
    padding-right: 10px;
  } */
  
  .container {
    /* background-color: tomato; */
    width: 70%;
  }
  
  
  .menuItem {
    padding: 10px 10px;
  }
  
  .menuItem:hover {
    background-color:  #171931;
  }
  
  .crypto {
    background-color: #171931;
    margin: 20px 0;
    border-radius: 5px;
    padding: 15px 15px 15px 15px;
  }
  
  .cryptoTable {
    display: inline-block;
    padding-right: 150px;
    margin-top: 20px;
  }  
  
  .cryptoHeader {
    font-size: 15px;
    color: #737595;
  }
  
  #cryptoText {
    color: white;
  }
  
  #table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th {
    height: 40px;
    font-size: 10px;
    color: #737595;
    text-align: left;
    padding: 0 15px;
    background-color: #192039;
  } 
  
  td {
    padding: 5px 15px 5px;
  }
  
  tr {
    background-color: #171931;
  }
  